/* Tailwind configuration*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black font-poppins;
  }

  nav {
    @apply bg-black font-poppins;
  }

}

@layer components {
  .NavLink {
    @apply font-poppins text-slate-50 hover:underline px-5 transition-colors duration-300 hover:text-hotPink;
  }

  .navbar-container {
    @apply mx-auto max-w-7xl px-2 sm:px-6 lg:px-8;
  }

  .navbar-inner {
    @apply flex items-center justify-between h-20;
    @apply flex-wrap; /* Allow wrapping on small screens */
  }

  .navbar-left {
    @apply flex items-center justify-center md:justify-start;
    @apply w-full md:w-auto; /* Full width on small screens, auto on larger screens */
    @apply mb-4 md:mb-0; /* Add bottom margin on smaller screens */
  }

  .logo-container {
    @apply flex items-center;
  }

  .logo {
    @apply h-10 w-auto;
  }

  .site-title {
    @apply md:block text-white text-2xl font-bold ml-2 transition-colors duration-300 hover:text-hotPink;
  }

  .navbar-right {
    @apply flex text-right gap-2 w-full md:w-auto;
    @apply justify-center md:justify-end; /* Center on small screens, right-align on larger screens */
  }

  .footer-container {
    @apply mx-auto max-w-7xl px-4 lg:px-4;
  }

  .footer-grid {
    @apply grid grid-cols-2 gap-x-4 gap-y-10 sm:max-w-xl sm:grid-cols-2 lg:grid-cols-2 lg:max-w-none lg:mx-0;
  }

  .footer-logo {
    @apply flex flex-col justify-start text-center sm:text-left;
  }

  .footer-title {
    @apply text-lg text-gray-200;
  }

  .footer-socials {
    @apply flex flex-col sm:flex-row items-center gap-4;
    @apply justify-center sm:justify-start;
  }

  .social-link {
    @apply flex items-center space-x-2 text-gray-600 hover:text-gray-800 transition;
  }

  .social-icon {
    @apply text-2xl;
  }
}

.AboutEmiPortrait {
  width: 33%;
}

.AboutJacobPortrait {
  width: 33%;
}

.AboutText {
  font-size: medium;
  width: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.grid-column {
  padding: 1rem;
  padding: 1rem;
}

.gallery {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-wrap: wrap;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

h2 {
  margin: 0;
  color: #30313d;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  display: block;
}

#details-table {
  overflow-x: auto;
  width: 100%;
}
/* Center the entire container on the page */
.overlap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0; /* Light gray background for contrast */
}

/* Image container to handle dynamic and fixed sizes */
.overlapping-images {
  position: relative;
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  overflow: hidden; /* Ensures no extra spacing is added */
}

/* Style for the bottom image */
.bottom-image {
  width: auto;
  height: auto;
  max-width: 100%; /* Ensures it doesn't overflow the container */
  max-height: 80vh; /* Keeps it responsive within the viewport */
  display: block;
  z-index: 1; /* Place it below the top image */
  opacity: 30%;
}

/* Style for the top image */
.top-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the top image over the bottom image */
  object-fit: contain; /* Ensure the image is properly scaled */
  z-index: 2; /* Place it above the bottom image */
  opacity: 0.8; /* Slight transparency for visual effect */
  pointer-events: none; /* Prevent the top image from affecting interactions */
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}
table tbody tr:first-child td {
  border-top: 1px solid #e6e6e6; /* Top border */
  padding-top: 10px;
}
table tbody tr:last-child td {
  border-bottom: 1px solid #e6e6e6; /* Bottom border */
}
td {
  padding-bottom: 10px;
}

.TableContent {
  text-align: right;
  color: #6d6e78;
}

.TableLabel {
  font-weight: 600;
  color: #30313d;
}



@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  form,
  #payment-status {
    width: 80vw;
    min-width: initial;
  }
}
